<% include ./partials/header %> 

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To JWT AUTH</h1>
            <p>
               You are able to see this page cause u are logged in as <%= name%> !
               
           </p>
        </div>
    </header>
</div>

<% include ./partials/footer %>